torch
torchvision
torchaudio
transformers
peft
accelerate
bitsandbytes
sentencepiece
pillow
opencv-python
albumentations
scikit-learn
pandas
matplotlib
tqdm
nltk
rouge_score
underthesea
bert-score
evaluate
gradio
python-dotenv
pyyaml
